

/*.ui-content img{

top:0,
botto:0;
left:0;
right:0;
margin: 0 auto;
position:absolute;

}*/




/*#back{
margin-left:20%;
}*/

img,object{

max-height:100%;
max-width:100%;
}

.ui-page-theme-a .ui-btn, html .ui-bar-a .ui-btn, html .ui-body-a .ui-btn, html body .ui-group-theme-a .ui-btn, html head + body .ui-btn.ui-btn-a, .ui-page-theme-a .ui-btn:visited, html .ui-bar-a .ui-btn:visited, html .ui-body-a .ui-btn:visited, html body .ui-group-theme-a .ui-btn:visited, html head + body .ui-btn.ui-btn-a:visited {
    background-color: rgba(251, 134, 148, 0.73);
    border-color: #FB8694;
    color: rgba(255, 255, 255, 1);
    /*text-shadow: 0px 1px 0px #F3F3F3;*/
	text-shadow:none !important;
}
.ui-btn-corner-all, .ui-btn.ui-corner-all, .ui-slider-track.ui-corner-all, .ui-flipswitch.ui-corner-all, .ui-li-count {
    border-radius: 0.3125em;
}

.ui-bar-inherit{
background-color:#fb8694!important;
border-color: #DDD;
color: #fff !important;
text-shadow:none !important;
}

.change{
background-color:#fb8694!important;
border-color: #DDD;
color: #fff !important;
text-shadow:none !important;
}


.bg{
background-image:url(../img/bd11%20copy.jpg);
background-size: cover;
}

p{
color:#CC0066;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:100%;
}



